<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch_returnrequest_index_orderfinder">
        <observer name="thinkideas_returnrequest" instance="ThinkIdeas\Returnrequest\Observer\CustomerLogin" shared="false" />
    </event> 
    
    <event name="controller_action_predispatch_returnrequest_index_orderitemsucess">
        <observer name="thinkideas_returnrequest" instance="ThinkIdeas\Returnrequest\Observer\Reqsave" shared="false" />
    </event>
   
</config>


