<?xml version="1.0"?>
<!--
/**
 * ThinkIdeas_Storelocator extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 *
 * @category  ThinkIdeas
 * @package   ThinkIdeas_Storelocator
 * @copyright 2016 Claudiu Creanga
 * @license   http://opensource.org/licenses/mit-license.php MIT License
 * @author    Claudiu Creanga
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="ThinkIdeas_Storelocator::thinkideas_menu" 
            title="ThinkIdeas" 
            module="ThinkIdeas_Storelocator" 
            sortOrder="30" 
            resource="ThinkIdeas_Storelocator::thinkideas_menu"
            parent="ThinkIdeas_Core::admin"/>
        <add id="ThinkIdeas_Storelocator"
             title="Storelocator"
             module="ThinkIdeas_Storelocator"
             sortOrder="9999"
             resource="ThinkIdeas_Storelocator::stores"
             parent="ThinkIdeas_Storelocator::thinkideas_menu"
             action="storelocator/stores"
            />                            
    </menu>
</config>